@font-face {
  font-family: "lemon-yellow-sun";
  src: url("fonts/DKLemonYellowSun.eot");
  src: url("fonts/DKLemonYellowSun.eot?#iefix") format("embedded-opentype"),
    url("fonts/DKLemonYellowSun.svg#DKLemonYellowSun") format("svg"),
    url("fonts/DKLemonYellowSun.ttf") format("truetype"),
    url("fonts/DKLemonYellowSun.woff") format("woff"),
    url("fonts/DKLemonYellowSun.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
